body {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
    background-color: lightgrey;
    color: black;
}

.testgroup, .overall_results {
    background-color: #153965;
    padding: 1rem;
    margin-bottom: 1rem;
}

.overall_results {
    margin-top: 2.5rem;
    color: white;
    border-top: 15px solid #466BBA;
}

.testgroup_title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.test_title {
    font-weight: bolder;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}

.test_pass {
    background-color: #AAFFAA;
    padding: 0.7rem;
    margin-top: 0.7rem;
}

.test_fail {
    background-color: #FFAAAA;
    padding: 0.7rem;
    margin-top: 0.7rem;
}

.test_ignore {
    background-color: #f5ffa3;
    padding: 0.7rem;
    margin-top: 0.7rem;
}

.test_skip {
    background-color: whitesmoke;
    padding: 0.7rem;
    margin-top: 0.7rem;
}

.group_results {
    color: white;
    padding-top: 1rem;
}

.small {
    font-size: 1rem;
}

.large {
    font-size: 2.5rem;
    font-weight: bold;
}


